n8n_json_config.txt
{
  "nodes": [
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        416,
        128
      ],
      "id": "e079eb0d-c682-4a0a-9b2f-9d2311430c21",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        112
      ],
      "id": "e0305c2b-642c-435f-9b2c-a7ea26642936",
      "name": "Merge1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "type": "image",
              "imageType": "base64",
              "binaryPropertyName": "edited"
            },
            {
              "content": "=Optional text about product:\n{{ $json.body.Title }}\n{{ $json.body.Description }}"
            },
            {
              "content": "There is a product in the above image. Find this item online and produce all product information relevant to a product listing. If a title or description are provided, use them assist you."
            }
          ]
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        608,
        48
      ],
      "id": "689ea700-2887-4d31-9c5c-6728c9ccc3d4",
      "name": "Internet Search",
      "credentials": {
        "openAiApi": {
          "id": "C4mS3PVMtIbeWsu8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "prompt": "There is a product in this image. Remove the background leaving only the product. ",
        "images": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        256,
        32
      ],
      "id": "3d8851ab-e33d-4776-a0ec-67ba8e926401",
      "name": "Remove Background",
      "credentials": {
        "googlePalmApi": {
          "id": "qnfxt2N10QVlRiKh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a brand creative director. Inputs: ONE product image, optional Title/Description/Branding Direction, and Found Info from a product lookup.\nRules:\n- The IMAGE is source of truth. Use Found Info only to steer vibe/themes; do NOT output specs, prices, ratings, or claims.\n- If Found Info conflicts with the image, ignore it.\n- Keep answer to EXACTLY 6 lines using this format:\n\nMood: <5–8 words>\nEmotions: <4–6 words, comma-separated>\nStyle Tags: <3–5 short tags>\nPalette: <3–5 colors with ~hex from IMAGE only>\nMotifs: <3–5 visible nouns from IMAGE>\nTagline Direction: <≤8 words, no claims>"
            },
            {
              "type": "image",
              "imageType": "base64",
              "binaryPropertyName": "edited",
              "imageDetail": "high"
            },
            {
              "content": "[EXAMPLE 1 — USER]\nImage: matte white ceramic mug with cork band on linen in soft morning light.\nTitle: Hearth Mug\nDescription: —\nBranding Direction: warm, hygge, sustainable\nFound Info: product page mentions “artisan ceramic, cork sleeve,” morning ritual; no specs.\n\n[EXAMPLE 1 — ASSISTANT]\nMood: Slow, cozy ritual at daybreak\nEmotions: calm, warmth, comfort, mindfulness\nStyle Tags: minimal, hygge, natural textures\nPalette: warm white ~#F4F0EA, cork tan ~#B68A5A, linen beige ~#D8CCB5\nMotifs: steam, linen folds, cork grain, soft shadow\nTagline Direction: Slow mornings, held softly\n\n[EXAMPLE 2 — USER]\nImage: glossy black wireless earbuds in open case on slate with cool edge light.\nTitle: PulseBuds\nDescription: —\nBranding Direction: sleek, performance\nFound Info: “budget-friendly, gym-ready” (no verified specs)\n\n[EXAMPLE 2 — ASSISTANT]\nMood: Urban precision with a cool edge\nEmotions: focus, confidence, momentum, control\nStyle Tags: minimal, tech, monochrome, value\nPalette: jet black ~#0A0A0A, slate gray ~#2F353A, cool highlight ~#C9D3DD\nMotifs: case hinge, reflective rim, slate texture\nTagline Direction: Nothing extra. Everything sharp."
            },
            {
              "content": "=Title: {{ $json.body.Title }},\nDescription: {{ $json.body.Description }},\nBranding vibe:{{ $json.body.Branding_Direction }}\n\nFound Info: {{ $json.internet_findings }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "name": "brand_description_out",
              "schema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\"branding_description\"],\n  \"properties\": {\n    \"branding_description\": {\n      \"type\": \"string\",\n      \"minLength\": 20,\n      \"maxLength\": 800,\n      \"description\": \"Compact mood/palette/style/emotions direction for the campaign. No specs or claims.\"\n    }\n  }\n}",
              "strict": true
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1344,
        112
      ],
      "id": "c7d1fc00-bb81-4ba3-a2b4-e6417ed15dd7",
      "name": "Set branding direction",
      "credentials": {
        "openAiApi": {
          "id": "C4mS3PVMtIbeWsu8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "74a1c75f-1a53-469e-8d42-8c1c9c4d6ac4",
              "name": "internet_findings",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        48
      ],
      "id": "b9101f79-007e-41ba-bda6-2b130088808c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af1ba9b3-43f8-4fde-951f-ef3a59bbf3a7",
              "name": "branding_description",
              "value": "={{ $json.output[0].content[0].text.branding_description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        112
      ],
      "id": "05381863-a678-4081-8025-b7c6d0580475",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        384
      ],
      "id": "a9c170f5-f3d2-4fa5-9c93-6fc2bd4e1868",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9c08217-1f8c-45d5-af31-f988e7f6d5c1",
              "name": "Description",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        384
      ],
      "id": "3351a241-cdc0-4552-bbe2-9030854689cc",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior brand copywriter. Write a single product listing **description paragraph** that embodies a provided 6-line Mood Spec.\nGround rules:\n- The IMAGE is source of truth. Use Mood Spec to steer tone. Use Found Info only for vibe/themes. \n- Do NOT invent specs, materials, certifications, pricing, batteries, ratings, or warranties.\n- Avoid comparisons and superlatives you can’t verify.\n- Length: 90–120 words. 1 paragraph. Sensory, visual, concrete.\n\nEVEN IF THE PRODUCT IS NOT REAL BASED ON THE FOUND INFO, ACT AS IF IT IS AND IMAGINE WHAT THE DESCRIPTION WOULD LOOK LIKE IF IT WERE"
            },
            {
              "content": "EXAMPLE: \nBrand direction:\nMood Spec:\nMood: Slow, cozy ritual at daybreak\nEmotions: calm, warmth, comfort, mindfulness\nStyle Tags: minimal, hygge, natural textures\nPalette: warm white ~#F4F0EA, cork tan ~#B68A5A, linen beige ~#D8CCB5\nMotifs: steam, linen folds, cork grain, soft shadow\nTagline Direction: Slow mornings, held softly\nTitle: Hearth Mug\nFound Info: Mentions “artisan ceramic, cork sleeve,” morning ritual; no specs.\nImage: (mug with cork band on linen in soft window light)\n\nEXAMPLE RESPONSE\n\"description\":\"Ease into the day with a mug that feels like a quiet ritual. Soft daylight, warm whites, and natural textures set a calm, hygge mood while the simple silhouette keeps the focus on comfort. Gentle curves and the tactile band invite an unhurried hold—perfect for first sips, afternoon breaks, and slow weekends. Pair it with linen, wood, and easy playlists for a soothing table scene. Inspired by mindful mornings, the look is understated and welcoming—never fussy, always warm. A small reminder to pause, breathe, and savor what’s in front of you.\""
            },
            {
              "content": "=Brand direction:  {{ $json.branding_description }}\n\nFound info: {{ $json.internet_findings }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        240,
        384
      ],
      "id": "2a9328ac-063b-4bdd-95ef-7c016fb1525f",
      "name": "Description Generator",
      "credentials": {
        "openAiApi": {
          "id": "C4mS3PVMtIbeWsu8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional photographer for product photoshoots. You will take in the product image, branding direction, and found info and generate the prompts for 3 images. Each image should showcase the product in a different situation or orientation but all should be coherent together and with the brand direction."
            },
            {
              "type": "image",
              "imageType": "base64",
              "binaryPropertyName": "edited"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema",
              "verbosity": "low",
              "name": "image_promps",
              "schema": "={\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\"image_1\", \"image_2\", \"image_3\"],\n  \"properties\": {\n    \"image_1\": {\n      \"type\": \"string\",\n      \"minLength\": 40,\n      \"maxLength\": 600,\n      \"description\": \"Full prompt for product photo shot #1\"\n    },\n    \"image_2\": {\n      \"type\": \"string\",\n      \"minLength\": 40,\n      \"maxLength\": 600,\n      \"description\": \"Full prompt for product photo shot #2\"\n    },\n    \"image_3\": {\n      \"type\": \"string\",\n      \"minLength\": 40,\n      \"maxLength\": 600,\n      \"description\": \"Full prompt for product photo shot #3\"\n    }\n  }\n}",
              "strict": true
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        240,
        544
      ],
      "id": "2a7dda4b-797e-4a31-9ffe-1be34342eefd",
      "name": "Photo Planner",
      "credentials": {
        "openAiApi": {
          "id": "C4mS3PVMtIbeWsu8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        576,
        560
      ],
      "id": "4c73720d-7c3a-420c-ab75-a810ae66bf11",
      "name": "Merge3"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "prompt": "=Adapt the subject of the image you are given to the situation described below\n\n{{ $json.output[0].content[0].text.image_1 }}",
        "images": {
          "values": [
            {
              "binaryPropertyName": "edited"
            }
          ]
        },
        "options": {
          "binaryPropertyOutput": "image1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        784,
        560
      ],
      "id": "52d45469-aaa4-4fc1-a7dd-f4d1b9f94820",
      "name": "Edit an image",
      "credentials": {
        "googlePalmApi": {
          "id": "qnfxt2N10QVlRiKh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "prompt": "=Adapt the subject of the image you are given to the situation described below\n\n\n{{ $json.output[0].content[0].text.image_2 }}",
        "images": {
          "values": [
            {
              "binaryPropertyName": "edited"
            }
          ]
        },
        "options": {
          "binaryPropertyOutput": "image2"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        784,
        704
      ],
      "id": "8cfeacf8-08bd-45f4-a666-b0e1bd8e711a",
      "name": "Edit an image1",
      "credentials": {
        "googlePalmApi": {
          "id": "qnfxt2N10QVlRiKh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "edit",
        "prompt": "=Adapt the subject of the image you are given to the situation described below\n\n\n{{ $json.output[0].content[0].text.image_3 }}",
        "images": {
          "values": [
            {
              "binaryPropertyName": "edited"
            }
          ]
        },
        "options": {
          "binaryPropertyOutput": "image3"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        784,
        848
      ],
      "id": "df10e1ce-4737-4262-b5ec-31a533061cf2",
      "name": "Edit an image2",
      "credentials": {
        "googlePalmApi": {
          "id": "qnfxt2N10QVlRiKh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a videographer generating a prompt for sora 2 for the below product. you will receive the product details, branding direction, and product image. You will write a prompt for a short video - keep it simple - to be passed to sora 2 to generate a video for the product listing.\n\nThe video will be 4 seconds, so at most 2 shots, otherwise sora will be overwhelmed!\n\nEVEN IF THE PRODUCT IS NOT REAL, ACT AS IF IT IS!!!!!"
            },
            {
              "type": "image",
              "imageType": "base64",
              "binaryPropertyName": "edited"
            },
            {
              "content": "={{ $json.internet_findings }}\n\n{{ $json.branding_description }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        240,
        1024
      ],
      "id": "7c463a6e-b18a-43ba-bb80-87fe1c3230ea",
      "name": "Video Script Writer",
      "credentials": {
        "openAiApi": {
          "id": "C4mS3PVMtIbeWsu8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "modelId": {
          "__rl": true,
          "value": "sora-2",
          "mode": "list",
          "cachedResultName": "SORA-2"
        },
        "prompt": "={{ $json.output[0].content[0].text }}",
        "options": {
          "fileName": "video"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        784,
        1024
      ],
      "id": "5e56e32d-e8a6-4d66-a41f-7d16650d23fa",
      "name": "Generate a video",
      "credentials": {
        "openAiApi": {
          "id": "C4mS3PVMtIbeWsu8",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/{{ new Date().getTime() }}_{{ $json.fileName }}",
        "dataPropertyName": "image1",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1008,
        512
      ],
      "id": "cc99427f-4d12-4d3c-a1b8-3c7278ae33b0",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/{{ new Date().getTime() }}_{{ $json.fileName }}",
        "dataPropertyName": "image2",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1008,
        688
      ],
      "id": "7a4c6cb5-eb98-413d-8b4d-dbad516e4ae4",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/{{ new Date().getTime() }}_{{ $json.fileName }}",
        "dataPropertyName": "image3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1008,
        864
      ],
      "id": "d146e08e-b33d-4eec-80c9-bfe9c74ed669",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/files/{{ new Date().getTime() }}_{{ $binary.data.fileName }}.mp4",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1008,
        1040
      ],
      "id": "e11a94fd-92b3-41b3-90db-97a625ea7480",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1552,
        480
      ],
      "id": "64b65744-0a1a-4782-b3d1-a344b5d45669",
      "name": "Merge4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        112
      ],
      "id": "f570dde4-bd5a-43fb-8125-36ad7339bf5b",
      "name": "Webhook",
      "webhookId": "ca8747bd-a097-467a-9e8b-6eff5a831187"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  JSON.stringify({\n    \"description\": $json.Description,\n    \"title\": $('Webhook').item.json.body.Title,\n    \"image1\": $('Read/Write Files from Disk').item.json.fileName,\n    \"image2\": $('Read/Write Files from Disk1').item.json.fileName,\n    \"image3\": $('Read/Write Files from Disk2').item.json.fileName,\n    \"video\": $('Read/Write Files from Disk3').item.json.fileName\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        528
      ],
      "id": "49a1692a-d32f-4f00-823f-87d3570031ab",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "fileSelector": "=/files/{{ $json.body.Image_Filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        16,
        80
      ],
      "id": "c9ea8b23-f01e-4c3a-bc29-135fca3fe320",
      "name": "Read/Write Files from Disk4"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Internet Search",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Set branding direction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Internet Search": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Background": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set branding direction": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Description Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Photo Planner",
            "type": "main",
            "index": 0
          },
          {
            "node": "Video Script Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Description Generator": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photo Planner": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Edit an image",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit an image1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit an image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit an image": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit an image1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit an image2": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Script Writer": {
      "main": [
        [
          {
            "node": "Generate a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a video": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        []
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "Remove Background",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "23897f1283c171d82bc9d2adb746667edef30157b0963275a3f44a552f524a50"
  }
}
